$color1: #242f41;
$color2: #6a82a0;
$color3: #e0ebf8;
$color4: #859ab2;
$color5: #9db1cb;
$color6: #e0ecfc;

@font-face {
  font-family: afta sans;
  src: url(fonts/aftasans.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: afta sans;
  font-weight: 100;
}

html {
  overflow-x: hidden;
}
.headerPopUp {
  height: 11vw;
  width: 60vw;
  background-color: $color2;

  img {
    width: 10vw;
    margin: 1vw 0 0 25vw;
  }
}
.footerPopUp {
  height: 8vw;
  width: 60vw;
  background-color: $color2;
}
.popUp {
  position: fixed;
  width: 60vw;
  top: 2vw;
  left: 23vw;
  height: 41vw;
  background-color: #fff;
  display: none;

  #giveDonation {
    height: 5vw;
    grid-column: span 2;
    width: 24vw;
    border-radius: 1vw;
    border: 0.1vw solid #fff;
    justify-self: center;
    margin: 1.5vw 0 0 18vw;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 2vw;
    background-image: url(../../image/givdonationknap.jpg);
  }

  .country,
  .email {
    width: 100%;
  }

  #add-cafe-form {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 27vw;

    color: $color2;

    .leftForm {
      width: 24vw;
      padding: 1vw 0 0 3vw;
      border-left: 0.2vw solid;

      .iconDonation {
        width: 3vw;
      }
      img {
        width: 2vw;
      }
    }
    .rightForm {
      width: 25vw;
      padding: 1vw 0 0 3vw;
      img {
        width: 23.3vw;
      }
    }

    .navnForm {
      display: inline-block;
      width: 10vw;

      .navnW {
        width: 9vw;
        border: 0.1vw solid #6a82a0;
        height: 2.3vw;
      }
    }
    .efternavnForm {
      display: inline-block;
      width: 14vw;

      .eNavnW {
        width: 13vw;
        border: 0.1vw solid #6a82a0;
        height: 2.3vw;
      }
    }

    .emailW {
      width: 23.3vw;
      border: 0.1vw solid $color2;
      height: 2.3vw;
    }

    .landW {
      width: 23.5vw;
      padding: 0 0 0 8vw;
      height: 2vw;
      color: $color2;
    }

    .countryS {
      color: $color2;
      padding: 1vw;
    }
    .pengePlacering {
      margin: 0 0 4vw 0;
      width: 16vw;
      padding: 0.6vw 0 0.6vw 7.3vw;
      border: 0.1vw solid #6a82a0;
      color: $color2;
      font-size: 1vw;
    }

    #betalingDropdown {
      display: none;
    }
    .fuldNavn {
      width: 16vw;
      margin: 0 0 0vw 0;
      padding: 0.2vw 0 0.2vw 7.3vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
      font-size: 1vw;
    }
    .dato {
      width: 3.85vw;
      margin: 0 0.5vw 0vw 0;
      padding: 0.2vw 0 0.2vw 7.3vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
      font-size: 1vw;
    }
    select {
      /* styling */
      background-color: white;
      border: 0.1vw solid $color2;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;

      /* reset */

      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    select.minimallandW {
      background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
        linear-gradient(135deg, $color2 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 8vw;
      margin: 0 0 1vw 0;
      color: #6a82a0;
    }

    select.minimallandW:focus {
      background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color2 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: $color2;
      outline: 0;
    }

    select.minimalTekstil {
      background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
        linear-gradient(135deg, $color2 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 6vw;
      margin: 0 0 4vw 0;
      color: #6a82a0;
    }

    select.minimalTekstil:focus {
      background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color2 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: $color2;
      outline: 0;
    }

    select.minimalFoder {
      background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
        linear-gradient(135deg, $color2 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 7vw;
      color: #6a82a0;
    }

    select.minimalFoder:focus {
      background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color2 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: $color2;
      outline: 0;
    }
  }

  .textil,
  .pleje {
    display: none;
  }
}

article {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  .largeColumn {
    grid-column: span 10;
    display: grid;
  }
  .biggerColumn {
    grid-column: span 7;
  }

  .halfColumn {
    grid-column: span 6;
  }
  .bigColumn {
    grid-column: span 5;
  }

  .smallColumn {
    grid-column: span 3;
    margin: 0 0 0 24vw;
    width: 20vw;
  }

  .smallColumnDb {
    grid-column: span 1;
    margin: 1vw 0 0 10vw;
    width: 12vw;
    text-align: center;
  }

  #wallPaper {
    justify-items: center;
    align-items: center;
    height: 30vw;
    background-color: $color1;
    background-image: url(../../image/header-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 25vw;
    }
  }

  #category {
    height: 20vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: $color2;
    font-size: 1.5vw;

    .penge {
      width: 8vw;
    }
    .tekstil {
      width: 13vw;
    }
    .foder {
      width: 11vw;
    }
  }

  #donation {
    height: 38vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    background-color: $color5;

    #video {
      justify-items: center;
      align-items: center;
      display: grid;
    }

    .video {
      width: 40vw;
    }
    .bigColumn:first-child {
      grid-column: 2 / span 5;
    }

    #donator {
      margin: 0vw 0 0 3vw;
    }

    button {
      width: 31vw;
      height: 6vw;
      font-size: 2em;
      margin: 6vw 0 0 0vw;
      color: #fff;
      background-color: #6a82a0;
      border-radius: 1.5vw;
      border: 4px solid #fff;
      background-image: url(../../image/givdonationknap.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    p {
      text-align: center;
    }
  }

  #donationInfo {
    height: 18vw;
    margin: 2vw 0 0 0;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 10;
    color: $color2;

    .information {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 13vw;
      font-size: 1.3vw;
      height: 16vw;
    }

    img {
      width: 10vw;
    }
  }

  #gallery {
    min-height: 30vh;
    grid-template-columns: repeat(4, 1fr);

    .imgIndex {
      width: 25vw;
    }
  }

  footerIndex {
    min-height: 25vh;
    justify-items: center;
    align-items: center;
    background-image: url(../../image/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 19vw;
    text-align: center;
    padding: 3.5vw 0 0 0;

    .some {
      width: 15vw;
      margin: 0.5vw 0 0.5vw 0;
    }

    h2 {
      font-size: 1.2vw;
    }
    .mail {
      font-weight: 100;
      font-size: 2vw;
      margin: 2vw 0 2vw 0;
    }

    img {
      width: 3vw;
    }
  }
}

#wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw;

  h1 {
    justify-self: center;
  }

  header {
    background-color: $color2;
    height: 25vh;
    grid-template-columns: 5vw 0vw 2vw 20vw;
    align-items: center;
    img {
      grid-column: 2 / span 1;
      width: 4.5vw;
    }

    h1 {
      color: white;
      font-size: 2vw;
      font-weight: 100;
    }
    .headerImg {
      width: 100vw;
    }
  }

  nav {
    grid-column: span 1;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    background-color: $color1;
    position: fixed;
    width: 20vw;

    img {
      width: 13vw;
      margin: 1vw 0 0 0;
    }

    .menu {
      list-style-type: none;
      justify-self: center;
      position: fixed;
      width: 19vw;
      top: 18vw;
      left: 2vw;
      font-size: 1.5vw;

      li {
        margin: 2vw 0 0 1vw;
        height: 3vw;

        img {
          width: 2vw;
        }

        a {
          text-decoration: none;
          color: white;
          justify-items: center;
          align-items: center;
        }
      }
    }
  }

  #dashboard {
    grid-column: span 1;
    width: 80vw;
    margin: 0 0 0 20vw;

    height: 75vw;
    grid-template-rows: 25vh auto auto 15vh;

    .donated {
      grid-template-rows: 2vw 15vw;
      border-bottom: 2px solid $color2;
      color: $color2;
      margin: 1vw 0 0 0;

      img {
        width: 11vw;
      }

      .pengeDb {
        width: 7vw;
      }
    }
    h3 {
      color: $color2;
      display: inline-block;
      margin: 0.7vw 0vw 0 2.5vw;
    }
    .settings {
      grid-row: span 1;
      display: grid;
      grid-template-rows: auto auto;

      button {
        width: 20vw;
        height: 4vw;
        font-size: 1.4vw;
        color: #242f41;
        margin: 0 6vw 0 0;
        background-color: #e0ecfc;
        border: 0.1vw solid #242f41;
      }
      #profile {
        min-height: 40vh;
        width: 38vw;
        padding: 0 0 1vw 0;
        border-right: 2px solid $color2;
        border-bottom: 2px solid $color2;

        .bottomPos {
          margin: 2vw 0 0 3vw;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-end;
        }

        img {
          width: 5vw;
        }
      }

      #fundraise {
        min-height: 30vh;
        width: 38vw;
        padding: 2vw 0 0 0;
        border-right: 2px solid $color2;

        .bottomPos {
          margin: 2vw 0 0 3vw;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-end;
        }
      }

      #goals {
        min-height: 50vh;
        border-top: 2px solid $color2;
        display: grid;
        padding: 0 0 1vw 1vw;
        width: 41vw;
        grid-template-columns: repeat(2, 1fr);
        color: $color2;

        img {
          width: 8vw;
        }

        .information {
          display: grid;
          justify-items: center;
          align-items: center;
          width: 16vw;
          font-size: 1.3vw;
          height: 14vw;
        }
        .bottomPos {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 2;
          margin: 0 6vw 0 2vw;
          background-color: #e0ecfc;
        }
      }

      #categories {
        min-height: 30vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1vw;

        .bottomPos {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 3;
          margin: 0 6vw 0 2vw;
          background-color: #e0ecfc;
        }

        .penge {
          width: 7vw;
        }
        .tekstil {
          width: 12vw;
        }
        .foder {
          width: 10.9vw;
        }
        .settingsAvatar {
          width: 5vw;
          display: inline-block;
        }

        .dashboardKategori {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 3;
          margin: 0 6vw 0 0;
          background-color: #e0ecfc;
          border: 0.1vw solid #242f41;
        }

        .smallColumnSettings {
          color: #6a82a0;
          text-align: center;
          margin: 1vw;
        }
      }
    }

    .details {
      grid-template-columns: repeat(12, 1fr);

      #time {
        display: grid;
        grid-template-rows: repeat(2, 50%);
        justify-items: center;
        align-items: center;
        border-right: 2px solid $color2;
      }

      #history {
        border-right: 2px solid $color2;
      }

      #country {
        display: grid;

        .mapInfo {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
        }
      }

      #history {
        display: grid;
        justify-items: center;
        align-items: center;
      }

      #history,
      #allDonation {
        border-top: 2px solid $color2;
      }
    }

    .category {
      justify-items: center;
      align-items: center;
    }

    footer {
      height: 10vw;
      min-height: 0;
      background-color: $color2;
    }
  }
}
