@font-face {
  font-family: afta sans;
  src: url(fonts/aftasans.woff2); }

* {
  margin: 0;
  padding: 0;
  font-family: afta sans; }

html {
  overflow-x: hidden; }

.popUp {
  position: fixed;
  width: 80%;
  top: 10%;
  left: 10%;
  height: 80%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: blue;
  display: none; }
  .popUp .textil {
    display: none; }

article {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }
  article .largeColumn {
    grid-column: span 10;
    display: grid; }
  article .biggerColumn {
    grid-column: span 7; }
  article .halfColumn {
    grid-column: span 6; }
  article .bigColumn {
    grid-column: span 5; }
  article .smallColumn {
    grid-column: span 3;
    margin: 0 0 0 24vw;
    width: 20vw; }
  article #wallPaper {
    justify-items: center;
    align-items: center;
    height: 30vw;
    background-color: #242f41;
    background-image: url(../../image/header-01.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    article #wallPaper img {
      width: 25vw; }
  article #category {
    height: 20vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #6a82a0;
    font-size: 1.5vw; }
    article #category .penge {
      width: 8vw; }
    article #category .tekstil {
      width: 13vw; }
    article #category .foder {
      width: 11vw; }
  article #donation {
    height: 38vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    background-color: #9db1cb; }
    article #donation #video {
      justify-items: center;
      align-items: center;
      display: grid; }
    article #donation .video {
      width: 40vw; }
    article #donation .bigColumn:first-child {
      grid-column: 2 / span 5; }
    article #donation #donator {
      margin: 0vw 0 0 3vw; }
    article #donation button {
      width: 40vw;
      height: 6vw;
      font-size: 2em;
      margin: 6vw 0 0 0vw;
      color: #fff;
      background-color: #6a82a0;
      border-radius: 0.5vw;
      border: 1px solid #fff;
      background-image: url(image/givdonationknap.jpg);
      background-size: cover; }
    article #donation p {
      text-align: center; }
  article #donationInfo {
    height: 18vw;
    margin: 2vw 0 0 0;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 10;
    color: #6a82a0; }
    article #donationInfo .information {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 13vw;
      font-size: 1.3vw;
      height: 16vw; }
    article #donationInfo img {
      width: 10vw; }
  article #gallery {
    min-height: 30vh;
    grid-template-columns: repeat(4, 1fr); }
    article #gallery .imgIndex {
      width: 25vw; }
  article footer {
    min-height: 25vh;
    justify-items: center;
    align-items: center;
    background-color: #242f41;
    color: #fff;
    height: 19vw;
    text-align: center;
    padding: 3.5vw 0 0 0; }
    article footer .some {
      width: 15vw;
      margin: 0.5vw 0 0.5vw 0; }
    article footer h2 {
      font-size: 1.2vw; }
    article footer .mail {
      font-weight: 100;
      font-size: 2vw;
      margin: 2vw 0 2vw 0; }
    article footer img {
      width: 3vw; }

#wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw; }
  #wrapper h1 {
    justify-self: center; }
  #wrapper header {
    background-color: #6a82a0;
    height: 25vh;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; }
    #wrapper header img {
      grid-column: 2 / span 1; }
    #wrapper header h1 {
      color: white; }
    #wrapper header .headerImg {
      width: 100vw; }
  #wrapper nav {
    grid-column: span 1;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    background-color: #242f41; }
    #wrapper nav .menu {
      list-style-type: none;
      justify-self: center;
      position: fixed;
      top: 50%;
      left: 3%; }
      #wrapper nav .menu li {
        margin: 10%; }
        #wrapper nav .menu li a {
          text-decoration: none;
          color: white; }
  #wrapper #dashboard {
    grid-column: span 1;
    min-height: 100vh;
    grid-template-rows: 25vh auto auto 15vh; }
    #wrapper #dashboard .donated {
      grid-template-rows: 10% 90%;
      border-bottom: 2px solid #6a82a0; }
    #wrapper #dashboard .settings {
      grid-row: span 2;
      grid-column: span 6;
      display: grid;
      grid-template-rows: auto auto; }
      #wrapper #dashboard .settings button {
        background-color: #e0ebf8;
        grid-column: span 2;
        justify-self: center;
        color: black;
        width: 50%;
        height: 100%; }
      #wrapper #dashboard .settings #profile {
        min-height: 50vh;
        border-right: 2px solid #6a82a0;
        border-bottom: 2px solid #6a82a0; }
      #wrapper #dashboard .settings #fundraise {
        min-height: 30vh;
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .settings #goals {
        min-height: 50vh;
        border-top: 2px solid #6a82a0;
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
      #wrapper #dashboard .settings #categories {
        min-height: 30vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
    #wrapper #dashboard .details {
      grid-template-columns: repeat(12, 1fr); }
      #wrapper #dashboard .details #time {
        display: grid;
        grid-template-rows: repeat(2, 50%);
        justify-items: center;
        align-items: center;
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .details #history {
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .details #country {
        display: grid; }
        #wrapper #dashboard .details #country .mapInfo {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center; }
      #wrapper #dashboard .details #history {
        display: grid;
        justify-items: center;
        align-items: center; }
      #wrapper #dashboard .details #history,
      #wrapper #dashboard .details #allDonation {
        border-top: 2px solid #6a82a0; }
    #wrapper #dashboard .category {
      justify-items: center;
      align-items: center; }
    #wrapper #dashboard footer {
      height: auto;
      min-height: 0;
      background-color: #6a82a0; }
