@font-face {
  font-family: afta sans;
  src: url(fonts/aftasans.woff2); }

* {
  margin: 0;
  padding: 0;
  font-family: afta sans;
  font-weight: 100; }

html {
  overflow-x: hidden; }

#login {
  background-color: #242f41; }
  #login .wrapper {
    display: grid;
    height: 50vh;
    width: 50vw;
    margin: 20vh auto;
    background-color: #242f41; }
    #login .wrapper img {
      width: 20%;
      margin-top: 20px;
      justify-self: center; }

.headerPopUp {
  height: 11vw;
  width: 60vw;
  background-color: #6a82a0; }
  .headerPopUp img {
    width: 10vw;
    margin: 1vw 0 0 25vw; }

.footerPopUp {
  height: 8vw;
  width: 60vw;
  background-color: #6a82a0; }

.popUp {
  position: fixed;
  width: 60vw;
  top: 2vw;
  left: 23vw;
  height: 41vw;
  background-color: #fff;
  display: none; }
  .popUp #giveDonation {
    height: 5vw;
    grid-column: span 2;
    width: 24vw;
    border-radius: 1vw;
    border: 0.1vw solid #fff;
    justify-self: center;
    margin: 1.5vw 0 0 18vw;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 2vw;
    background-image: url(../../image/givdonationknap.jpg); }
  .popUp .country,
  .popUp .email {
    width: 100%; }
  .popUp #add-cafe-form {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 27vw;
    color: #6a82a0; }
    .popUp #add-cafe-form .leftForm {
      width: 24vw;
      padding: 1vw 0 0 3vw;
      border-left: 0.2vw solid; }
      .popUp #add-cafe-form .leftForm .iconDonation {
        width: 3vw; }
      .popUp #add-cafe-form .leftForm img {
        width: 2vw; }
    .popUp #add-cafe-form .rightForm {
      width: 25vw;
      padding: 1vw 0 0 3vw; }
      .popUp #add-cafe-form .rightForm img {
        width: 23.3vw; }
    .popUp #add-cafe-form .navnForm {
      display: inline-block;
      width: 10vw; }
      .popUp #add-cafe-form .navnForm .navnW {
        width: 9vw;
        border: 0.1vw solid #6a82a0;
        height: 2.3vw; }
    .popUp #add-cafe-form .efternavnForm {
      display: inline-block;
      width: 14vw; }
      .popUp #add-cafe-form .efternavnForm .eNavnW {
        width: 13vw;
        border: 0.1vw solid #6a82a0;
        height: 2.3vw; }
    .popUp #add-cafe-form .emailW {
      width: 23.3vw;
      border: 0.1vw solid #6a82a0;
      height: 2.3vw; }
    .popUp #add-cafe-form .landW {
      width: 23.5vw;
      padding: 0 0 0 8vw;
      height: 2vw;
      color: #6a82a0; }
    .popUp #add-cafe-form .countryS {
      color: #6a82a0;
      padding: 1vw; }
    .popUp #add-cafe-form .pengePlacering {
      margin: 0 0 4vw 0;
      width: 16vw;
      padding: 0.6vw 0 0.6vw 7.3vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
      font-size: 1vw; }
    .popUp #add-cafe-form #betalingDropdown {
      display: none; }
    .popUp #add-cafe-form .fuldNavn {
      width: 16vw;
      margin: 0 0 0vw 0;
      padding: 0.2vw 0 0.2vw 7.3vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
      font-size: 1vw; }
    .popUp #add-cafe-form .dato {
      width: 3.85vw;
      margin: 0 0.5vw 0vw 0;
      padding: 0.2vw 0 0.2vw 7.3vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
      font-size: 1vw; }
    .popUp #add-cafe-form select {
      /* styling */
      background-color: white;
      border: 0.1vw solid #6a82a0;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      /* reset */
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .popUp #add-cafe-form select.minimallandW {
      background-image: linear-gradient(45deg, transparent 50%, #6a82a0 50%), linear-gradient(135deg, #6a82a0 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 8vw;
      margin: 0 0 1vw 0;
      color: #6a82a0; }
    .popUp #add-cafe-form select.minimallandW:focus {
      background-image: linear-gradient(45deg, #6a82a0 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #6a82a0 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: #6a82a0;
      outline: 0; }
    .popUp #add-cafe-form select.minimalTekstil {
      background-image: linear-gradient(45deg, transparent 50%, #6a82a0 50%), linear-gradient(135deg, #6a82a0 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 6vw;
      margin: 0 0 4vw 0;
      color: #6a82a0; }
    .popUp #add-cafe-form select.minimalTekstil:focus {
      background-image: linear-gradient(45deg, #6a82a0 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #6a82a0 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: #6a82a0;
      outline: 0; }
    .popUp #add-cafe-form select.minimalFoder {
      background-image: linear-gradient(45deg, transparent 50%, #6a82a0 50%), linear-gradient(135deg, #6a82a0 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 7vw;
      color: #6a82a0; }
    .popUp #add-cafe-form select.minimalFoder:focus {
      background-image: linear-gradient(45deg, #6a82a0 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #6a82a0 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: #6a82a0;
      outline: 0; }
  .popUp .textil,
  .popUp .pleje {
    display: none; }

article {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }
  article .largeColumn {
    grid-column: span 10;
    display: grid; }
  article .biggerColumn {
    grid-column: span 7; }
  article .halfColumn {
    grid-column: span 6; }
  article .bigColumn {
    grid-column: span 5; }
  article .smallColumn {
    grid-column: span 3;
    margin: 0 0 0 24vw;
    width: 20vw; }
  article .smallColumnDb {
    grid-column: span 1;
    margin: 1vw 0 0 10vw;
    width: 12vw;
    text-align: center; }
  article #wallPaper {
    justify-items: center;
    align-items: center;
    height: 30vw;
    background-color: #242f41;
    background-image: url(../../image/header-01.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    article #wallPaper img {
      width: 25vw; }
  article #category {
    height: 20vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #6a82a0;
    font-size: 1.5vw; }
    article #category .penge {
      width: 8vw; }
    article #category .tekstil {
      width: 13vw; }
    article #category .foder {
      width: 11vw; }
  article #donation {
    height: 38vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    background-color: #9db1cb; }
    article #donation #video {
      justify-items: center;
      align-items: center;
      display: grid; }
    article #donation .video {
      width: 40vw; }
    article #donation .bigColumn:first-child {
      grid-column: 2 / span 5; }
    article #donation #donator {
      margin: 0vw 0 0 3vw; }
    article #donation button {
      width: 31vw;
      height: 6vw;
      font-size: 2em;
      margin: 6vw 0 0 0vw;
      color: #fff;
      background-color: #6a82a0;
      border-radius: 1.5vw;
      border: 4px solid #fff;
      background-image: url(../../image/givdonationknap.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    article #donation p {
      text-align: center; }
  article #donationInfo {
    height: 18vw;
    margin: 2vw 0 0 0;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 10;
    color: #6a82a0; }
    article #donationInfo .information {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 13vw;
      font-size: 1.3vw;
      height: 16vw; }
    article #donationInfo img {
      width: 10vw; }
  article #gallery {
    min-height: 30vh;
    grid-template-columns: repeat(4, 1fr); }
    article #gallery .imgIndex {
      width: 25vw; }
  article footerIndex {
    min-height: 25vh;
    justify-items: center;
    align-items: center;
    background-image: url(../../image/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 19vw;
    text-align: center;
    padding: 3.5vw 0 0 0; }
    article footerIndex .some {
      width: 15vw;
      margin: 0.5vw 0 0.5vw 0; }
    article footerIndex h2 {
      font-size: 1.2vw; }
    article footerIndex .mail {
      font-weight: 100;
      font-size: 2vw;
      margin: 2vw 0 2vw 0; }
    article footerIndex img {
      width: 3vw; }

#wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw; }
  #wrapper h1 {
    justify-self: center; }
  #wrapper header {
    background-color: #6a82a0;
    height: 25vh;
    grid-template-columns: 5vw 0vw 2vw 20vw;
    align-items: center; }
    #wrapper header img {
      grid-column: 2 / span 1;
      width: 4.5vw; }
    #wrapper header h1 {
      color: white;
      font-size: 2vw;
      font-weight: 100; }
    #wrapper header .headerImg {
      width: 100vw; }
  #wrapper nav {
    grid-column: span 1;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    background-color: #242f41;
    position: fixed;
    width: 20vw; }
    #wrapper nav img {
      width: 13vw;
      margin: 1vw 0 0 0; }
    #wrapper nav .menu {
      list-style-type: none;
      justify-self: center;
      position: fixed;
      width: 19vw;
      top: 18vw;
      left: 2vw;
      font-size: 1.5vw; }
      #wrapper nav .menu li {
        margin: 2vw 0 0 1vw;
        height: 3vw; }
        #wrapper nav .menu li img {
          width: 2vw; }
        #wrapper nav .menu li a {
          text-decoration: none;
          color: white;
          justify-items: center;
          align-items: center; }
  #wrapper #dashboard {
    grid-column: span 1;
    width: 80vw;
    margin: 0 0 0 20vw;
    height: 75vw;
    grid-template-rows: 25vh auto auto 15vh; }
    #wrapper #dashboard .donated {
      grid-template-rows: 2vw 15vw;
      border-bottom: 2px solid #6a82a0;
      color: #6a82a0;
      margin: 1vw 0 0 0; }
      #wrapper #dashboard .donated img {
        width: 11vw; }
      #wrapper #dashboard .donated .pengeDb {
        width: 7vw; }
    #wrapper #dashboard h3 {
      color: #6a82a0;
      display: inline-block;
      margin: 0.7vw 0vw 0 2.5vw; }
    #wrapper #dashboard .settings {
      grid-row: span 1;
      display: grid;
      grid-template-rows: auto auto; }
      #wrapper #dashboard .settings button {
        width: 20vw;
        height: 4vw;
        font-size: 1.4vw;
        color: #242f41;
        margin: 0 6vw 0 0;
        background-color: #e0ecfc;
        border: 0.1vw solid #242f41; }
      #wrapper #dashboard .settings #profile {
        min-height: 40vh;
        width: 38vw;
        padding: 0 0 1vw 0;
        border-right: 2px solid #6a82a0;
        border-bottom: 2px solid #6a82a0; }
        #wrapper #dashboard .settings #profile .bottomPos {
          margin: 2vw 0 0 3vw;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-end; }
        #wrapper #dashboard .settings #profile img {
          width: 5vw; }
      #wrapper #dashboard .settings #fundraise {
        min-height: 30vh;
        width: 38vw;
        padding: 2vw 0 0 0;
        border-right: 2px solid #6a82a0; }
        #wrapper #dashboard .settings #fundraise .bottomPos {
          margin: 2vw 0 0 3vw;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-end; }
      #wrapper #dashboard .settings #goals {
        min-height: 50vh;
        border-top: 2px solid #6a82a0;
        display: grid;
        padding: 0 0 1vw 1vw;
        width: 41vw;
        grid-template-columns: repeat(2, 1fr);
        color: #6a82a0; }
        #wrapper #dashboard .settings #goals img {
          width: 8vw; }
        #wrapper #dashboard .settings #goals .information {
          display: grid;
          justify-items: center;
          align-items: center;
          width: 16vw;
          font-size: 1.3vw;
          height: 14vw; }
        #wrapper #dashboard .settings #goals .bottomPos {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 2;
          margin: 0 6vw 0 2vw;
          background-color: #e0ecfc; }
      #wrapper #dashboard .settings #categories {
        min-height: 30vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1vw; }
        #wrapper #dashboard .settings #categories .bottomPos {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 3;
          margin: 0 6vw 0 2vw;
          background-color: #e0ecfc; }
        #wrapper #dashboard .settings #categories .penge {
          width: 7vw; }
        #wrapper #dashboard .settings #categories .tekstil {
          width: 12vw; }
        #wrapper #dashboard .settings #categories .foder {
          width: 10.9vw; }
        #wrapper #dashboard .settings #categories .settingsAvatar {
          width: 5vw;
          display: inline-block; }
        #wrapper #dashboard .settings #categories .dashboardKategori {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 3;
          margin: 0 6vw 0 0;
          background-color: #e0ecfc;
          border: 0.1vw solid #242f41; }
        #wrapper #dashboard .settings #categories .smallColumnSettings {
          color: #6a82a0;
          text-align: center;
          margin: 1vw; }
    #wrapper #dashboard .details {
      grid-template-columns: repeat(12, 1fr); }
      #wrapper #dashboard .details #time {
        display: grid;
        grid-template-rows: repeat(2, 50%);
        justify-items: center;
        align-items: center;
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .details #history {
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .details #country {
        display: grid; }
        #wrapper #dashboard .details #country .mapInfo {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center; }
      #wrapper #dashboard .details #history {
        display: grid;
        justify-items: center;
        align-items: center; }
      #wrapper #dashboard .details #history,
      #wrapper #dashboard .details #allDonation {
        border-top: 2px solid #6a82a0; }
    #wrapper #dashboard .category {
      justify-items: center;
      align-items: center; }
    #wrapper #dashboard footer {
      height: 10vw;
      min-height: 0;
      background-color: #6a82a0; }
