* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

article {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  article .largeColumn {
    grid-column: span 12;
    display: grid; }
  article .biggerColumn {
    grid-column: span 7; }
  article .halfColumn {
    grid-column: span 6; }
  article .bigColumn {
    grid-column: span 5; }
  article .smallColumn {
    grid-column: span 4; }
  article #wallPaper {
    justify-items: center;
    align-items: center;
    min-height: 80vh; }
  article #category {
    min-height: 20vh;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    justify-items: center;
    align-items: center; }
  article #donation {
    min-height: 80vh;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    background-color: #6a82a0; }
    article #donation #video {
      justify-items: center;
      display: grid; }
    article #donation .bigColumn:first-child {
      grid-column: 2 / span 5; }
    article #donation button {
      width: 100%;
      height: 20%;
      font-size: 2em;
      color: black;
      border: 1px solid black; }
    article #donation p {
      text-align: center; }
  article #donationInfo {
    min-height: 25vh;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 10; }
    article #donationInfo .information {
      display: grid;
      justify-items: center;
      align-items: center; }
  article #gallery {
    min-height: 30vh;
    grid-template-columns: repeat(4, 1fr); }
  article footer {
    min-height: 25vh;
    justify-items: center;
    align-items: center;
    background-color: #242f41; }

#wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw; }
  #wrapper h1 {
    justify-self: center; }
  #wrapper header {
    background-color: #6a82a0;
    height: 25vh;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; }
    #wrapper header img {
      grid-column: 2 / span 1; }
    #wrapper header h1 {
      color: white; }
  #wrapper nav {
    grid-column: span 1;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    background-color: #242f41; }
    #wrapper nav .menu {
      list-style-type: none;
      justify-self: center;
      position: fixed;
      top: 50%;
      left: 3%; }
      #wrapper nav .menu li {
        margin: 10%; }
        #wrapper nav .menu li a {
          text-decoration: none;
          color: white; }
  #wrapper #dashboard {
    grid-column: span 1;
    min-height: 100vh;
    grid-template-rows: 25vh auto auto 15vh; }
    #wrapper #dashboard .donated {
      grid-template-rows: 10% 90%;
      border-bottom: 2px solid #6a82a0; }
    #wrapper #dashboard .settings {
      grid-row: span 2;
      grid-column: span 6;
      display: grid;
      grid-template-rows: auto auto; }
      #wrapper #dashboard .settings button {
        background-color: #e0ebf8;
        grid-column: span 2;
        justify-self: center;
        color: black;
        width: 50%;
        height: 100%; }
      #wrapper #dashboard .settings #profile {
        min-height: 50vh;
        border-right: 2px solid #6a82a0;
        border-bottom: 2px solid #6a82a0; }
      #wrapper #dashboard .settings #fundraise {
        min-height: 30vh;
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .settings #goals {
        min-height: 50vh;
        border-top: 2px solid #6a82a0;
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
      #wrapper #dashboard .settings #categories {
        min-height: 30vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
    #wrapper #dashboard .details {
      grid-template-columns: repeat(12, 1fr); }
      #wrapper #dashboard .details #time {
        display: grid;
        grid-template-rows: repeat(2, 50%);
        justify-items: center;
        align-items: center;
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .details #history {
        border-right: 2px solid #6a82a0; }
      #wrapper #dashboard .details #country,
      #wrapper #dashboard .details #history {
        display: grid;
        justify-items: center;
        align-items: center; }
      #wrapper #dashboard .details #history,
      #wrapper #dashboard .details #allDonation {
        border-top: 2px solid #6a82a0; }
    #wrapper #dashboard .category {
      justify-items: center;
      align-items: center; }
    #wrapper #dashboard footer {
      height: auto;
      min-height: 0;
      background-color: #6a82a0; }
